.picon_1 {
    background-position: 0 0
}

.picon_2 {
    background-position: -40px 0;
}

.picon_3 {
    background-position: -80px 0
}

.picon_3-mega {
    background-position: -120px 0
}

.picon_4 {
    background-position: -160px 0
}

.picon_5 {
    background-position: -200px 0
}

.picon_6 {
    background-position: -240px 0
}

.picon_6-mega-x {
    background-position: -280px 0
}

.picon_6-mega-y {
    background-position: -320px 0
}

.picon_7 {
    background-position: -360px 0
}

.picon_8 {
    background-position: -400px 0
}

.picon_9 {
    background-position: -440px 0
}

.picon_9-mega {
    background-position: -480px 0
}

.picon_10 {
    background-position: -520px 0
}

.picon_11 {
    background-position: -560px 0
}

.picon_12 {
    background-position: -600px 0
}

.picon_13 {
    background-position: 0 -30px
}

.picon_14 {
    background-position: -40px -30px
}

.picon_15 {
    background-position: -80px -30px
}

.picon_15-mega {
    background-position: -120px -30px
}

.picon_16 {
    background-position: -160px -30px
}

.picon_17 {
    background-position: -200px -30px
}

.picon_18 {
    background-position: -240px -30px
}

.picon_18-mega {
    background-position: -280px -30px
}

.picon_19 {
    background-position: -320px -30px
}

.picon_19-alolan {
    background-position: -360px -30px
}

.picon_20 {
    background-position: -400px -30px
}

.picon_20-alolan {
    background-position: -440px -30px
}

.picon_21 {
    background-position: -480px -30px
}

.picon_22 {
    background-position: -520px -30px
}

.picon_23 {
    background-position: -560px -30px
}

.picon_24 {
    background-position: -600px -30px
}

.picon_25 {
    background-position: 0 -60px
}

.picon_26 {
    background-position: -40px -60px
}

.picon_26-alolan {
    background-position: -80px -60px
}

.picon_27 {
    background-position: -120px -60px
}

.picon_27-alolan {
    background-position: -160px -60px
}

.picon_28 {
    background-position: -200px -60px
}

.picon_28-alolan {
    background-position: -240px -60px
}

.picon_29 {
    background-position: -280px -60px
}

.picon_30 {
    background-position: -320px -60px
}

.picon_31 {
    background-position: -360px -60px
}

.picon_32 {
    background-position: -400px -60px
}

.picon_33 {
    background-position: -440px -60px
}

.picon_34 {
    background-position: -480px -60px
}

.picon_35 {
    background-position: -520px -60px
}

.picon_36 {
    background-position: -560px -60px
}

.picon_37 {
    background-position: -600px -60px
}

.picon_37-alolan {
    background-position: 0 -90px
}

.picon_38 {
    background-position: -40px -90px
}

.picon_38-alolan {
    background-position: -80px -90px
}

.picon_39 {
    background-position: -120px -90px
}

.picon_40 {
    background-position: -160px -90px
}

.picon_41 {
    background-position: -200px -90px
}

.picon_42 {
    background-position: -240px -90px
}

.picon_43 {
    background-position: -280px -90px
}

.picon_44 {
    background-position: -320px -90px
}

.picon_45 {
    background-position: -360px -90px
}

.picon_46 {
    background-position: -400px -90px
}

.picon_47 {
    background-position: -440px -90px
}

.picon_48 {
    background-position: -480px -90px
}

.picon_49 {
    background-position: -520px -90px
}

.picon_50 {
    background-position: -560px -90px
}

.picon_50-alolan {
    background-position: -600px -90px
}

.picon_51 {
    background-position: 0 -120px
}

.picon_51-alolan {
    background-position: -40px -120px
}

.picon_52 {
    background-position: -80px -120px
}

.picon_52-alolan {
    background-position: -120px -120px
}

.picon_53 {
    background-position: -160px -120px
}

.picon_53-alolan {
    background-position: -200px -120px
}

.picon_54 {
    background-position: -240px -120px
}

.picon_55 {
    background-position: -280px -120px
}

.picon_56 {
    background-position: -320px -120px
}

.picon_57 {
    background-position: -360px -120px
}

.picon_58 {
    background-position: -400px -120px
}

.picon_59 {
    background-position: -440px -120px
}

.picon_60 {
    background-position: -480px -120px
}

.picon_61 {
    background-position: -520px -120px
}

.picon_62 {
    background-position: -560px -120px
}

.picon_63 {
    background-position: -600px -120px
}

.picon_64 {
    background-position: 0 -150px
}

.picon_65 {
    background-position: -40px -150px
}

.picon_65-mega {
    background-position: -80px -150px
}

.picon_66 {
    background-position: -120px -150px
}

.picon_67 {
    background-position: -160px -150px
}

.picon_68 {
    background-position: -200px -150px
}

.picon_69 {
    background-position: -240px -150px
}

.picon_70 {
    background-position: -280px -150px
}

.picon_71 {
    background-position: -320px -150px
}

.picon_72 {
    background-position: -360px -150px
}

.picon_73 {
    background-position: -400px -150px
}

.picon_74 {
    background-position: -440px -150px
}

.picon_74-alolan {
    background-position: -480px -150px
}

.picon_75 {
    background-position: -520px -150px
}

.picon_75-alolan {
    background-position: -560px -150px
}

.picon_76 {
    background-position: -600px -150px
}

.picon_76-alolan {
    background-position: 0 -180px
}

.picon_77 {
    background-position: -40px -180px
}

.picon_78 {
    background-position: -80px -180px
}

.picon_79 {
    background-position: -120px -180px
}

.picon_80 {
    background-position: -160px -180px
}

.picon_80-mega {
    background-position: -200px -180px
}

.picon_81 {
    background-position: -240px -180px
}

.picon_82 {
    background-position: -280px -180px
}

.picon_83 {
    background-position: -320px -180px
}

.picon_84 {
    background-position: -360px -180px
}

.picon_85 {
    background-position: -400px -180px
}

.picon_86 {
    background-position: -440px -180px
}

.picon_87 {
    background-position: -480px -180px
}

.picon_88 {
    background-position: -520px -180px
}

.picon_88-alolan {
    background-position: -560px -180px
}

.picon_89 {
    background-position: -600px -180px
}

.picon_89-alolan {
    background-position: 0 -210px
}

.picon_90 {
    background-position: -40px -210px
}

.picon_91 {
    background-position: -80px -210px
}

.picon_92 {
    background-position: -120px -210px
}

.picon_93 {
    background-position: -160px -210px
}

.picon_94 {
    background-position: -200px -210px
}

.picon_94-mega {
    background-position: -240px -210px
}

.picon_95 {
    background-position: -280px -210px
}

.picon_96 {
    background-position: -320px -210px
}

.picon_97 {
    background-position: -360px -210px
}

.picon_98 {
    background-position: -400px -210px
}

.picon_99 {
    background-position: -440px -210px
}

.picon_100 {
    background-position: -480px -210px
}

.picon_101 {
    background-position: -520px -210px
}

.picon_102 {
    background-position: -560px -210px
}

.picon_103 {
    background-position: -600px -210px
}

.picon_103-alolan {
    background-position: 0 -240px
}

.picon_104 {
    background-position: -40px -240px
}

.picon_105 {
    background-position: -80px -240px
}

.picon_105-alolan {
    background-position: -120px -240px
}

.picon_106 {
    background-position: -160px -240px
}

.picon_107 {
    background-position: -200px -240px
}

.picon_108 {
    background-position: -240px -240px
}

.picon_109 {
    background-position: -280px -240px
}

.picon_110 {
    background-position: -320px -240px
}

.picon_111 {
    background-position: -360px -240px
}

.picon_112 {
    background-position: -400px -240px
}

.picon_113 {
    background-position: -440px -240px
}

.picon_114 {
    background-position: -480px -240px
}

.picon_115 {
    background-position: -520px -240px
}

.picon_115-mega {
    background-position: -560px -240px
}

.picon_116 {
    background-position: -600px -240px
}

.picon_117 {
    background-position: 0 -270px
}

.picon_118 {
    background-position: -40px -270px
}

.picon_119 {
    background-position: -80px -270px
}

.picon_120 {
    background-position: -120px -270px
}

.picon_121 {
    background-position: -160px -270px
}

.picon_122 {
    background-position: -200px -270px
}

.picon_123 {
    background-position: -240px -270px
}

.picon_124 {
    background-position: -280px -270px
}

.picon_125 {
    background-position: -320px -270px
}

.picon_126 {
    background-position: -360px -270px
}

.picon_127 {
    background-position: -400px -270px
}

.picon_127-mega {
    background-position: -440px -270px
}

.picon_128 {
    background-position: -480px -270px
}

.picon_129 {
    background-position: -520px -270px
}

.picon_130 {
    background-position: -560px -270px
}

.picon_130-mega {
    background-position: -600px -270px
}

.picon_131 {
    background-position: 0 -300px
}

.picon_132 {
    background-position: -40px -300px
}

.picon_133 {
    background-position: -80px -300px
}

.picon_134 {
    background-position: -120px -300px
}

.picon_135 {
    background-position: -160px -300px
}

.picon_136 {
    background-position: -200px -300px
}

.picon_137 {
    background-position: -240px -300px
}

.picon_138 {
    background-position: -280px -300px
}

.picon_139 {
    background-position: -320px -300px
}

.picon_140 {
    background-position: -360px -300px
}

.picon_141 {
    background-position: -400px -300px
}

.picon_142 {
    background-position: -440px -300px
}

.picon_142-mega {
    background-position: -480px -300px
}

.picon_143 {
    background-position: -520px -300px
}

.picon_144 {
    background-position: -560px -300px
}

.picon_145 {
    background-position: -600px -300px
}

.picon_146 {
    background-position: 0 -330px
}

.picon_147 {
    background-position: -40px -330px
}

.picon_148 {
    background-position: -80px -330px
}

.picon_149 {
    background-position: -120px -330px
}

.picon_150 {
    background-position: -160px -330px
}

.picon_150-mega-y {
    background-position: -200px -330px
}

.picon_150-mega-x {
    background-position: -240px -330px
}

.picon_151 {
    background-position: -280px -330px
}

.picon_152 {
    background-position: -320px -330px
}

.picon_153 {
    background-position: -360px -330px
}

.picon_154 {
    background-position: -400px -330px
}

.picon_155 {
    background-position: -440px -330px
}

.picon_156 {
    background-position: -480px -330px
}

.picon_157 {
    background-position: -520px -330px
}

.picon_158 {
    background-position: -560px -330px
}

.picon_159 {
    background-position: -600px -330px
}

.picon_160 {
    background-position: 0 -360px
}

.picon_161 {
    background-position: -40px -360px
}

.picon_162 {
    background-position: -80px -360px
}

.picon_163 {
    background-position: -120px -360px
}

.picon_164 {
    background-position: -160px -360px
}

.picon_165 {
    background-position: -200px -360px
}

.picon_166 {
    background-position: -240px -360px
}

.picon_167 {
    background-position: -280px -360px
}

.picon_168 {
    background-position: -320px -360px
}

.picon_169 {
    background-position: -360px -360px
}

.picon_170 {
    background-position: -400px -360px
}

.picon_171 {
    background-position: -440px -360px
}

.picon_172 {
    background-position: -480px -360px
}

.picon_173 {
    background-position: -520px -360px
}

.picon_174 {
    background-position: -560px -360px
}

.picon_175 {
    background-position: -600px -360px
}

.picon_176 {
    background-position: 0 -390px
}

.picon_177 {
    background-position: -40px -390px
}

.picon_178 {
    background-position: -80px -390px
}

.picon_179 {
    background-position: -120px -390px
}

.picon_180 {
    background-position: -160px -390px
}

.picon_181 {
    background-position: -200px -390px
}

.picon_181-mega {
    background-position: -240px -390px
}

.picon_182 {
    background-position: -280px -390px
}

.picon_183 {
    background-position: -320px -390px
}

.picon_184 {
    background-position: -360px -390px
}

.picon_185 {
    background-position: -400px -390px
}

.picon_186 {
    background-position: -440px -390px
}

.picon_187 {
    background-position: -480px -390px
}

.picon_188 {
    background-position: -520px -390px
}

.picon_189 {
    background-position: -560px -390px
}

.picon_190 {
    background-position: -600px -390px
}

.picon_191 {
    background-position: 0 -420px
}

.picon_192 {
    background-position: -40px -420px
}

.picon_193 {
    background-position: -80px -420px
}

.picon_194 {
    background-position: -120px -420px
}

.picon_195 {
    background-position: -160px -420px
}

.picon_196 {
    background-position: -200px -420px
}

.picon_197 {
    background-position: -240px -420px
}

.picon_198 {
    background-position: -280px -420px
}

.picon_199 {
    background-position: -320px -420px
}

.picon_200 {
    background-position: -360px -420px
}

.picon_201 {
    background-position: -400px -420px
}

.picon_202 {
    background-position: -440px -420px
}

.picon_203 {
    background-position: -480px -420px
}

.picon_204 {
    background-position: -520px -420px
}

.picon_205 {
    background-position: -560px -420px
}

.picon_206 {
    background-position: -600px -420px
}

.picon_207 {
    background-position: 0 -450px
}

.picon_208 {
    background-position: -40px -450px
}

.picon_208-mega {
    background-position: -80px -450px
}

.picon_209 {
    background-position: -120px -450px
}

.picon_210 {
    background-position: -160px -450px
}

.picon_211 {
    background-position: -200px -450px
}

.picon_212 {
    background-position: -240px -450px
}

.picon_212-mega {
    background-position: -280px -450px
}

.picon_213 {
    background-position: -320px -450px
}

.picon_214 {
    background-position: -360px -450px
}

.picon_214-mega {
    background-position: -400px -450px
}

.picon_215 {
    background-position: -440px -450px
}

.picon_216 {
    background-position: -480px -450px
}

.picon_217 {
    background-position: -520px -450px
}

.picon_218 {
    background-position: -560px -450px
}

.picon_219 {
    background-position: -600px -450px
}

.picon_220 {
    background-position: 0 -480px
}

.picon_221 {
    background-position: -40px -480px
}

.picon_222 {
    background-position: -80px -480px
}

.picon_223 {
    background-position: -120px -480px
}

.picon_224 {
    background-position: -160px -480px
}

.picon_225 {
    background-position: -200px -480px
}

.picon_226 {
    background-position: -240px -480px
}

.picon_227 {
    background-position: -280px -480px
}

.picon_228 {
    background-position: -320px -480px
}

.picon_229 {
    background-position: -360px -480px
}

.picon_229-mega {
    background-position: -400px -480px
}

.picon_230 {
    background-position: -440px -480px
}

.picon_231 {
    background-position: -480px -480px
}

.picon_232 {
    background-position: -520px -480px
}

.picon_233 {
    background-position: -560px -480px
}

.picon_234 {
    background-position: -600px -480px
}

.picon_235 {
    background-position: 0 -510px
}

.picon_236 {
    background-position: -40px -510px
}

.picon_237 {
    background-position: -80px -510px
}

.picon_238 {
    background-position: -120px -510px
}

.picon_239 {
    background-position: -160px -510px
}

.picon_240 {
    background-position: -200px -510px
}

.picon_241 {
    background-position: -240px -510px
}

.picon_242 {
    background-position: -280px -510px
}

.picon_243 {
    background-position: -320px -510px
}

.picon_244 {
    background-position: -360px -510px
}

.picon_245 {
    background-position: -400px -510px
}

.picon_246 {
    background-position: -440px -510px
}

.picon_247 {
    background-position: -480px -510px
}

.picon_248 {
    background-position: -520px -510px
}

.picon_248-mega {
    background-position: -560px -510px
}

.picon_249 {
    background-position: -600px -510px
}

.picon_250 {
    background-position: 0 -540px
}

.picon_251 {
    background-position: -40px -540px
}

.picon_252 {
    background-position: -80px -540px
}

.picon_253 {
    background-position: -120px -540px
}

.picon_254 {
    background-position: -160px -540px
}

.picon_254-mega {
    background-position: -200px -540px
}

.picon_255 {
    background-position: -240px -540px
}

.picon_256 {
    background-position: -280px -540px
}

.picon_257 {
    background-position: -320px -540px
}

.picon_257-mega {
    background-position: -360px -540px
}

.picon_258 {
    background-position: -400px -540px
}

.picon_259 {
    background-position: -440px -540px
}

.picon_260 {
    background-position: -480px -540px
}

.picon_260-mega {
    background-position: -520px -540px
}

.picon_261 {
    background-position: -560px -540px
}

.picon_262 {
    background-position: -600px -540px
}

.picon_263 {
    background-position: 0 -570px
}

.picon_264 {
    background-position: -40px -570px
}

.picon_265 {
    background-position: -80px -570px
}

.picon_266 {
    background-position: -120px -570px
}

.picon_267 {
    background-position: -160px -570px
}

.picon_268 {
    background-position: -200px -570px
}

.picon_269 {
    background-position: -240px -570px
}

.picon_270 {
    background-position: -280px -570px
}

.picon_271 {
    background-position: -320px -570px
}

.picon_272 {
    background-position: -360px -570px
}

.picon_273 {
    background-position: -400px -570px
}

.picon_274 {
    background-position: -440px -570px
}

.picon_275 {
    background-position: -480px -570px
}

.picon_276 {
    background-position: -520px -570px
}

.picon_277 {
    background-position: -560px -570px
}

.picon_278 {
    background-position: -600px -570px
}

.picon_279 {
    background-position: 0 -600px
}

.picon_280 {
    background-position: -40px -600px
}

.picon_281 {
    background-position: -80px -600px
}

.picon_282 {
    background-position: -120px -600px
}

.picon_282-mega {
    background-position: -160px -600px
}

.picon_283 {
    background-position: -200px -600px
}

.picon_284 {
    background-position: -240px -600px
}

.picon_285 {
    background-position: -280px -600px
}

.picon_286 {
    background-position: -320px -600px
}

.picon_287 {
    background-position: -360px -600px
}

.picon_288 {
    background-position: -400px -600px
}

.picon_289 {
    background-position: -440px -600px
}

.picon_290 {
    background-position: -480px -600px
}

.picon_291 {
    background-position: -520px -600px
}

.picon_292 {
    background-position: -560px -600px
}

.picon_293 {
    background-position: -600px -600px
}

.picon_294 {
    background-position: 0 -630px
}

.picon_295 {
    background-position: -40px -630px
}

.picon_296 {
    background-position: -80px -630px
}

.picon_297 {
    background-position: -120px -630px
}

.picon_298 {
    background-position: -160px -630px
}

.picon_299 {
    background-position: -200px -630px
}

.picon_300 {
    background-position: -240px -630px
}

.picon_301 {
    background-position: -280px -630px
}

.picon_302 {
    background-position: -320px -630px
}

.picon_302-mega {
    background-position: -360px -630px
}

.picon_303 {
    background-position: -400px -630px
}

.picon_303-mega {
    background-position: -440px -630px
}

.picon_304 {
    background-position: -480px -630px
}

.picon_305 {
    background-position: -520px -630px
}

.picon_306 {
    background-position: -560px -630px
}

.picon_306-mega {
    background-position: -600px -630px
}

.picon_307 {
    background-position: 0 -660px
}

.picon_308 {
    background-position: -40px -660px
}

.picon_308-mega {
    background-position: -80px -660px
}

.picon_309 {
    background-position: -120px -660px
}

.picon_310 {
    background-position: -160px -660px
}

.picon_310-mega {
    background-position: -200px -660px
}

.picon_311 {
    background-position: -240px -660px
}

.picon_312 {
    background-position: -280px -660px
}

.picon_313 {
    background-position: -320px -660px
}

.picon_314 {
    background-position: -360px -660px
}

.picon_315 {
    background-position: -400px -660px
}

.picon_316 {
    background-position: -440px -660px
}

.picon_317 {
    background-position: -480px -660px
}

.picon_318 {
    background-position: -520px -660px
}

.picon_319 {
    background-position: -560px -660px
}

.picon_319-mega {
    background-position: -600px -660px
}

.picon_320 {
    background-position: 0 -690px
}

.picon_321 {
    background-position: -40px -690px
}

.picon_322 {
    background-position: -80px -690px
}

.picon_323 {
    background-position: -120px -690px
}

.picon_323-mega {
    background-position: -160px -690px
}

.picon_324 {
    background-position: -200px -690px
}

.picon_325 {
    background-position: -240px -690px
}

.picon_326 {
    background-position: -280px -690px
}

.picon_327 {
    background-position: -320px -690px
}

.picon_328 {
    background-position: -360px -690px
}

.picon_329 {
    background-position: -400px -690px
}

.picon_330 {
    background-position: -440px -690px
}

.picon_331 {
    background-position: -480px -690px
}

.picon_332 {
    background-position: -520px -690px
}

.picon_333 {
    background-position: -560px -690px
}

.picon_334 {
    background-position: -600px -690px
}

.picon_334-mega {
    background-position: 0 -720px
}

.picon_335 {
    background-position: -40px -720px
}

.picon_336 {
    background-position: -80px -720px
}

.picon_337 {
    background-position: -120px -720px
}

.picon_338 {
    background-position: -160px -720px
}

.picon_339 {
    background-position: -200px -720px
}

.picon_340 {
    background-position: -240px -720px
}

.picon_341 {
    background-position: -280px -720px
}

.picon_342 {
    background-position: -320px -720px
}

.picon_343 {
    background-position: -360px -720px
}

.picon_344 {
    background-position: -400px -720px
}

.picon_345 {
    background-position: -440px -720px
}

.picon_346 {
    background-position: -480px -720px
}

.picon_347 {
    background-position: -520px -720px
}

.picon_348 {
    background-position: -560px -720px
}

.picon_349 {
    background-position: -600px -720px
}

.picon_350 {
    background-position: 0 -750px
}

.picon_351 {
    background-position: -40px -750px
}

.picon_352 {
    background-position: -80px -750px
}

.picon_353 {
    background-position: -120px -750px
}

.picon_354 {
    background-position: -160px -750px
}

.picon_354-mega {
    background-position: -200px -750px
}

.picon_355 {
    background-position: -240px -750px
}

.picon_356 {
    background-position: -280px -750px
}

.picon_357 {
    background-position: -320px -750px
}

.picon_358 {
    background-position: -360px -750px
}

.picon_359 {
    background-position: -400px -750px
}

.picon_359-mega {
    background-position: -440px -750px
}

.picon_360 {
    background-position: -480px -750px
}

.picon_361 {
    background-position: -520px -750px
}

.picon_362 {
    background-position: -560px -750px
}

.picon_362-mega {
    background-position: -600px -750px
}

.picon_363 {
    background-position: 0 -780px
}

.picon_364 {
    background-position: -40px -780px
}

.picon_365 {
    background-position: -80px -780px
}

.picon_366 {
    background-position: -120px -780px
}

.picon_367 {
    background-position: -160px -780px
}

.picon_368 {
    background-position: -200px -780px
}

.picon_369 {
    background-position: -240px -780px
}

.picon_370 {
    background-position: -280px -780px
}

.picon_371 {
    background-position: -320px -780px
}

.picon_372 {
    background-position: -360px -780px
}

.picon_373 {
    background-position: -400px -780px
}

.picon_373-mega {
    background-position: -440px -780px
}

.picon_374 {
    background-position: -480px -780px
}

.picon_375 {
    background-position: -520px -780px
}

.picon_376 {
    background-position: -560px -780px
}

.picon_376-mega {
    background-position: -600px -780px
}

.picon_377 {
    background-position: 0 -810px
}

.picon_378 {
    background-position: -40px -810px
}

.picon_379 {
    background-position: -80px -810px
}

.picon_380 {
    background-position: -120px -810px
}

.picon_380-mega {
    background-position: -160px -810px
}

.picon_381 {
    background-position: -200px -810px
}

.picon_381-mega {
    background-position: -240px -810px
}

.picon_382 {
    background-position: -280px -810px
}

.picon_382-primal {
    background-position: -320px -810px
}

.picon_383 {
    background-position: -360px -810px
}

.picon_383-primal {
    background-position: -400px -810px
}

.picon_384 {
    background-position: -440px -810px
}

.picon_384-mega {
    background-position: -480px -810px
}

.picon_385 {
    background-position: -520px -810px
}

.picon_386-attack {
    background-position: -560px -810px
}

.picon_386-defense {
    background-position: -600px -810px
}

.picon_386, .picon_386-normal {
    background-position: 0 -840px
}

.picon_386-speed {
    background-position: -40px -840px
}

.picon_387 {
    background-position: -80px -840px
}

.picon_388 {
    background-position: -120px -840px
}

.picon_389 {
    background-position: -160px -840px
}

.picon_390 {
    background-position: -200px -840px
}

.picon_391 {
    background-position: -240px -840px
}

.picon_392 {
    background-position: -280px -840px
}

.picon_393 {
    background-position: -320px -840px
}

.picon_394 {
    background-position: -360px -840px
}

.picon_395 {
    background-position: -400px -840px
}

.picon_396 {
    background-position: -440px -840px
}

.picon_397 {
    background-position: -480px -840px
}

.picon_398 {
    background-position: -520px -840px
}

.picon_399 {
    background-position: -560px -840px
}

.picon_400 {
    background-position: -600px -840px
}

.picon_401 {
    background-position: 0 -870px
}

.picon_402 {
    background-position: -40px -870px
}

.picon_403 {
    background-position: -80px -870px
}

.picon_404 {
    background-position: -120px -870px
}

.picon_405 {
    background-position: -160px -870px
}

.picon_406 {
    background-position: -200px -870px
}

.picon_407 {
    background-position: -240px -870px
}

.picon_408 {
    background-position: -280px -870px
}

.picon_409 {
    background-position: -320px -870px
}

.picon_410 {
    background-position: -360px -870px
}

.picon_411 {
    background-position: -400px -870px
}

.picon_412 {
    background-position: -440px -870px
}

.picon_413, .picon_413-plant {
    background-position: -480px -870px
}

.picon_413-sandy {
    background-position: -520px -870px
}

.picon_413-trash {
    background-position: -560px -870px
}

.picon_414 {
    background-position: -600px -870px
}

.picon_415 {
    background-position: 0 -900px
}

.picon_416 {
    background-position: -40px -900px
}

.picon_417 {
    background-position: -80px -900px
}

.picon_418 {
    background-position: -120px -900px
}

.picon_419 {
    background-position: -160px -900px
}

.picon_420 {
    background-position: -200px -900px
}

.picon_421 {
    background-position: -240px -900px
}

.picon_422 {
    background-position: -280px -900px
}

.picon_423 {
    background-position: -320px -900px
}

.picon_424 {
    background-position: -360px -900px
}

.picon_425 {
    background-position: -400px -900px
}

.picon_426 {
    background-position: -440px -900px
}

.picon_427 {
    background-position: -480px -900px
}

.picon_428 {
    background-position: -520px -900px
}

.picon_428-mega {
    background-position: -560px -900px
}

.picon_429 {
    background-position: -600px -900px
}

.picon_430 {
    background-position: 0 -930px
}

.picon_431 {
    background-position: -40px -930px
}

.picon_432 {
    background-position: -80px -930px
}

.picon_433 {
    background-position: -120px -930px
}

.picon_434 {
    background-position: -160px -930px
}

.picon_435 {
    background-position: -200px -930px
}

.picon_436 {
    background-position: -240px -930px
}

.picon_437 {
    background-position: -280px -930px
}

.picon_438 {
    background-position: -320px -930px
}

.picon_439 {
    background-position: -360px -930px
}

.picon_440 {
    background-position: -400px -930px
}

.picon_441 {
    background-position: -440px -930px
}

.picon_442 {
    background-position: -480px -930px
}

.picon_443 {
    background-position: -520px -930px
}

.picon_444 {
    background-position: -560px -930px
}

.picon_445 {
    background-position: -600px -930px
}

.picon_445-mega {
    background-position: 0 -960px
}

.picon_446 {
    background-position: -40px -960px
}

.picon_447 {
    background-position: -80px -960px
}

.picon_448 {
    background-position: -120px -960px
}

.picon_448-mega {
    background-position: -160px -960px
}

.picon_449 {
    background-position: -200px -960px
}

.picon_450 {
    background-position: -240px -960px
}

.picon_451 {
    background-position: -280px -960px
}

.picon_452 {
    background-position: -320px -960px
}

.picon_453 {
    background-position: -360px -960px
}

.picon_454 {
    background-position: -400px -960px
}

.picon_455 {
    background-position: -440px -960px
}

.picon_456 {
    background-position: -480px -960px
}

.picon_457 {
    background-position: -520px -960px
}

.picon_458 {
    background-position: -560px -960px
}

.picon_459 {
    background-position: -600px -960px
}

.picon_460 {
    background-position: 0 -990px
}

.picon_460-mega {
    background-position: -40px -990px
}

.picon_461 {
    background-position: -80px -990px
}

.picon_462 {
    background-position: -120px -990px
}

.picon_463 {
    background-position: -160px -990px
}

.picon_464 {
    background-position: -200px -990px
}

.picon_465 {
    background-position: -240px -990px
}

.picon_466 {
    background-position: -280px -990px
}

.picon_467 {
    background-position: -320px -990px
}

.picon_468 {
    background-position: -360px -990px
}

.picon_469 {
    background-position: -400px -990px
}

.picon_470 {
    background-position: -440px -990px
}

.picon_471 {
    background-position: -480px -990px
}

.picon_472 {
    background-position: -520px -990px
}

.picon_473 {
    background-position: -560px -990px
}

.picon_474 {
    background-position: -600px -990px
}

.picon_475 {
    background-position: 0 -1020px
}

.picon_475-mega {
    background-position: -40px -1020px
}

.picon_476 {
    background-position: -80px -1020px
}

.picon_477 {
    background-position: -120px -1020px
}

.picon_478 {
    background-position: -160px -1020px
}

.picon_479-fan {
    background-position: -200px -1020px
}

.picon_479-frost {
    background-position: -240px -1020px
}

.picon_479-heat {
    background-position: -280px -1020px
}

.picon_479-mow {
    background-position: -320px -1020px
}

.picon_479, .picon_479-normal {
    background-position: -360px -1020px
}

.picon_479-wash {
    background-position: -400px -1020px
}

.picon_480 {
    background-position: -440px -1020px
}

.picon_481 {
    background-position: -480px -1020px
}

.picon_482 {
    background-position: -520px -1020px
}

.picon_483 {
    background-position: -560px -1020px
}

.picon_484 {
    background-position: -600px -1020px
}

.picon_485 {
    background-position: 0 -1050px
}

.picon_486 {
    background-position: -40px -1050px
}

.picon_487, .picon_487-altered {
    background-position: -80px -1050px
}

.picon_487-origin {
    background-position: -120px -1050px
}

.picon_488 {
    background-position: -160px -1050px
}

.picon_489 {
    background-position: -200px -1050px
}

.picon_490 {
    background-position: -240px -1050px
}

.picon_491 {
    background-position: -280px -1050px
}

.picon_492, .picon_492-land {
    background-position: -320px -1050px
}

.picon_492-sky {
    background-position: -360px -1050px
}

.picon_493 {
    background-position: -400px -1050px
}

.picon_494 {
    background-position: -440px -1050px
}

.picon_495 {
    background-position: -480px -1050px
}

.picon_496 {
    background-position: -520px -1050px
}

.picon_497 {
    background-position: -560px -1050px
}

.picon_498 {
    background-position: -600px -1050px
}

.picon_499 {
    background-position: 0 -1080px
}

.picon_500 {
    background-position: -40px -1080px
}

.picon_501 {
    background-position: -80px -1080px
}

.picon_502 {
    background-position: -120px -1080px
}

.picon_503 {
    background-position: -160px -1080px
}

.picon_504 {
    background-position: -200px -1080px
}

.picon_505 {
    background-position: -240px -1080px
}

.picon_506 {
    background-position: -280px -1080px
}

.picon_507 {
    background-position: -320px -1080px
}

.picon_508 {
    background-position: -360px -1080px
}

.picon_509 {
    background-position: -400px -1080px
}

.picon_510 {
    background-position: -440px -1080px
}

.picon_511 {
    background-position: -480px -1080px
}

.picon_512 {
    background-position: -520px -1080px
}

.picon_513 {
    background-position: -560px -1080px
}

.picon_514 {
    background-position: -600px -1080px
}

.picon_515 {
    background-position: 0 -1110px
}

.picon_516 {
    background-position: -40px -1110px
}

.picon_517 {
    background-position: -80px -1110px
}

.picon_518 {
    background-position: -120px -1110px
}

.picon_519 {
    background-position: -160px -1110px
}

.picon_520 {
    background-position: -200px -1110px
}

.picon_521 {
    background-position: -240px -1110px
}

.picon_522 {
    background-position: -280px -1110px
}

.picon_523 {
    background-position: -320px -1110px
}

.picon_524 {
    background-position: -360px -1110px
}

.picon_525 {
    background-position: -400px -1110px
}

.picon_526 {
    background-position: -440px -1110px
}

.picon_527 {
    background-position: -480px -1110px
}

.picon_528 {
    background-position: -520px -1110px
}

.picon_529 {
    background-position: -560px -1110px
}

.picon_530 {
    background-position: -600px -1110px
}

.picon_531 {
    background-position: 0 -1140px
}

.picon_531-mega {
    background-position: -40px -1140px
}

.picon_532 {
    background-position: -80px -1140px
}

.picon_533 {
    background-position: -120px -1140px
}

.picon_534 {
    background-position: -160px -1140px
}

.picon_535 {
    background-position: -200px -1140px
}

.picon_536 {
    background-position: -240px -1140px
}

.picon_537 {
    background-position: -280px -1140px
}

.picon_538 {
    background-position: -320px -1140px
}

.picon_539 {
    background-position: -360px -1140px
}

.picon_540 {
    background-position: -400px -1140px
}

.picon_541 {
    background-position: -440px -1140px
}

.picon_542 {
    background-position: -480px -1140px
}

.picon_543 {
    background-position: -520px -1140px
}

.picon_544 {
    background-position: -560px -1140px
}

.picon_545 {
    background-position: -600px -1140px
}

.picon_546 {
    background-position: 0 -1170px
}

.picon_547 {
    background-position: -40px -1170px
}

.picon_548 {
    background-position: -80px -1170px
}

.picon_549 {
    background-position: -120px -1170px
}

.picon_550 {
    background-position: -160px -1170px
}

.picon_551 {
    background-position: -200px -1170px
}

.picon_552 {
    background-position: -240px -1170px
}

.picon_553 {
    background-position: -280px -1170px
}

.picon_554 {
    background-position: -320px -1170px
}

.picon_555, .picon_555-standard {
    background-position: -360px -1170px
}

.picon_555-zen {
    background-position: -400px -1170px
}

.picon_556 {
    background-position: -440px -1170px
}

.picon_557 {
    background-position: -480px -1170px
}

.picon_558 {
    background-position: -520px -1170px
}

.picon_559 {
    background-position: -560px -1170px
}

.picon_560 {
    background-position: -600px -1170px
}

.picon_561 {
    background-position: 0 -1200px
}

.picon_562 {
    background-position: -40px -1200px
}

.picon_563 {
    background-position: -80px -1200px
}

.picon_564 {
    background-position: -120px -1200px
}

.picon_565 {
    background-position: -160px -1200px
}

.picon_566 {
    background-position: -200px -1200px
}

.picon_567 {
    background-position: -240px -1200px
}

.picon_568 {
    background-position: -280px -1200px
}

.picon_569 {
    background-position: -320px -1200px
}

.picon_570 {
    background-position: -360px -1200px
}

.picon_571 {
    background-position: -400px -1200px
}

.picon_572 {
    background-position: -440px -1200px
}

.picon_573 {
    background-position: -480px -1200px
}

.picon_574 {
    background-position: -520px -1200px
}

.picon_575 {
    background-position: -560px -1200px
}

.picon_576 {
    background-position: -600px -1200px
}

.picon_577 {
    background-position: 0 -1230px
}

.picon_578 {
    background-position: -40px -1230px
}

.picon_579 {
    background-position: -80px -1230px
}

.picon_580 {
    background-position: -120px -1230px
}

.picon_581 {
    background-position: -160px -1230px
}

.picon_582 {
    background-position: -200px -1230px
}

.picon_583 {
    background-position: -240px -1230px
}

.picon_584 {
    background-position: -280px -1230px
}

.picon_585 {
    background-position: -320px -1230px
}

.picon_586 {
    background-position: -360px -1230px
}

.picon_587 {
    background-position: -400px -1230px
}

.picon_588 {
    background-position: -440px -1230px
}

.picon_589 {
    background-position: -480px -1230px
}

.picon_590 {
    background-position: -520px -1230px
}

.picon_591 {
    background-position: -560px -1230px
}

.picon_592 {
    background-position: -600px -1230px
}

.picon_593 {
    background-position: 0 -1260px
}

.picon_594 {
    background-position: -40px -1260px
}

.picon_595 {
    background-position: -80px -1260px
}

.picon_596 {
    background-position: -120px -1260px
}

.picon_597 {
    background-position: -160px -1260px
}

.picon_598 {
    background-position: -200px -1260px
}

.picon_599 {
    background-position: -240px -1260px
}

.picon_600 {
    background-position: -280px -1260px
}

.picon_601 {
    background-position: -320px -1260px
}

.picon_602 {
    background-position: -360px -1260px
}

.picon_603 {
    background-position: -400px -1260px
}

.picon_604 {
    background-position: -440px -1260px
}

.picon_605 {
    background-position: -480px -1260px
}

.picon_606 {
    background-position: -520px -1260px
}

.picon_607 {
    background-position: -560px -1260px
}

.picon_608 {
    background-position: -600px -1260px
}

.picon_609 {
    background-position: 0 -1290px
}

.picon_610 {
    background-position: -40px -1290px
}

.picon_611 {
    background-position: -80px -1290px
}

.picon_612 {
    background-position: -120px -1290px
}

.picon_613 {
    background-position: -160px -1290px
}

.picon_614 {
    background-position: -200px -1290px
}

.picon_615 {
    background-position: -240px -1290px
}

.picon_616 {
    background-position: -280px -1290px
}

.picon_617 {
    background-position: -320px -1290px
}

.picon_618 {
    background-position: -360px -1290px
}

.picon_619 {
    background-position: -400px -1290px
}

.picon_620 {
    background-position: -440px -1290px
}

.picon_621 {
    background-position: -480px -1290px
}

.picon_622 {
    background-position: -520px -1290px
}

.picon_623 {
    background-position: -560px -1290px
}

.picon_624 {
    background-position: -600px -1290px
}

.picon_625 {
    background-position: 0 -1320px
}

.picon_626 {
    background-position: -40px -1320px
}

.picon_627 {
    background-position: -80px -1320px
}

.picon_628 {
    background-position: -120px -1320px
}

.picon_629 {
    background-position: -160px -1320px
}

.picon_630 {
    background-position: -200px -1320px
}

.picon_631 {
    background-position: -240px -1320px
}

.picon_632 {
    background-position: -280px -1320px
}

.picon_633 {
    background-position: -320px -1320px
}

.picon_634 {
    background-position: -360px -1320px
}

.picon_635 {
    background-position: -400px -1320px
}

.picon_636 {
    background-position: -440px -1320px
}

.picon_637 {
    background-position: -480px -1320px
}

.picon_638 {
    background-position: -520px -1320px
}

.picon_639 {
    background-position: -560px -1320px
}

.picon_640 {
    background-position: -600px -1320px
}

.picon_641, .picon_641-incarnate {
    background-position: 0 -1350px
}

.picon_641-therian {
    background-position: -40px -1350px
}

.picon_642, .picon_642-incarnate {
    background-position: -80px -1350px
}

.picon_642-therian {
    background-position: -120px -1350px
}

.picon_643 {
    background-position: -160px -1350px
}

.picon_644 {
    background-position: -200px -1350px
}

.picon_645, .picon_645-incarnate {
    background-position: -240px -1350px
}

.picon_645-therian {
    background-position: -280px -1350px
}

.picon_646-black {
    background-position: -320px -1350px
}

.picon_646, .picon_646-normal {
    background-position: -360px -1350px
}

.picon_646-white {
    background-position: -400px -1350px
}

.picon_647, .picon_647-ordinary {
    background-position: -440px -1350px
}

.picon_647-resolute {
    background-position: -480px -1350px
}

.picon_648, .picon_648-aria {
    background-position: -520px -1350px
}

.picon_648-pirouette {
    background-position: -560px -1350px
}

.picon_649 {
    background-position: -600px -1350px
}

.picon_650 {
    background-position: 0 -1380px
}

.picon_651 {
    background-position: -40px -1380px
}

.picon_652 {
    background-position: -80px -1380px
}

.picon_653 {
    background-position: -120px -1380px
}

.picon_654 {
    background-position: -160px -1380px
}

.picon_655 {
    background-position: -200px -1380px
}

.picon_656 {
    background-position: -240px -1380px
}

.picon_657 {
    background-position: -280px -1380px
}

.picon_658 {
    background-position: -320px -1380px
}

.picon_658-ash {
    background-position: -360px -1380px
}

.picon_659 {
    background-position: -400px -1380px
}

.picon_660 {
    background-position: -440px -1380px
}

.picon_661 {
    background-position: -480px -1380px
}

.picon_662 {
    background-position: -520px -1380px
}

.picon_663 {
    background-position: -560px -1380px
}

.picon_664 {
    background-position: -600px -1380px
}

.picon_665 {
    background-position: 0 -1410px
}

.picon_666 {
    background-position: -40px -1410px
}

.picon_667 {
    background-position: -80px -1410px
}

.picon_668 {
    background-position: -120px -1410px
}

.picon_669 {
    background-position: -160px -1410px
}

.picon_670 {
    background-position: -200px -1410px
}

.picon_671 {
    background-position: -240px -1410px
}

.picon_672 {
    background-position: -280px -1410px
}

.picon_673 {
    background-position: -320px -1410px
}

.picon_674 {
    background-position: -360px -1410px
}

.picon_675 {
    background-position: -400px -1410px
}

.picon_676 {
    background-position: -440px -1410px
}

.picon_677 {
    background-position: -480px -1410px
}

.picon_678-female {
    background-position: -520px -1410px
}

.picon_678, .picon_678-male {
    background-position: -560px -1410px
}

.picon_679 {
    background-position: -600px -1410px
}

.picon_680 {
    background-position: 0 -1440px
}

.picon_681-blade {
    background-position: -40px -1440px
}

.picon_681, .picon_681-shield {
    background-position: -80px -1440px
}

.picon_682 {
    background-position: -120px -1440px
}

.picon_683 {
    background-position: -160px -1440px
}

.picon_684 {
    background-position: -200px -1440px
}

.picon_685 {
    background-position: -240px -1440px
}

.picon_686 {
    background-position: -280px -1440px
}

.picon_687 {
    background-position: -320px -1440px
}

.picon_688 {
    background-position: -360px -1440px
}

.picon_689 {
    background-position: -400px -1440px
}

.picon_690 {
    background-position: -440px -1440px
}

.picon_691 {
    background-position: -480px -1440px
}

.picon_692 {
    background-position: -520px -1440px
}

.picon_693 {
    background-position: -560px -1440px
}

.picon_694 {
    background-position: -600px -1440px
}

.picon_695 {
    background-position: 0 -1470px
}

.picon_696 {
    background-position: -40px -1470px
}

.picon_697 {
    background-position: -80px -1470px
}

.picon_698 {
    background-position: -120px -1470px
}

.picon_699 {
    background-position: -160px -1470px
}

.picon_700 {
    background-position: -200px -1470px
}

.picon_701 {
    background-position: -240px -1470px
}

.picon_702 {
    background-position: -280px -1470px
}

.picon_703 {
    background-position: -320px -1470px
}

.picon_704 {
    background-position: -360px -1470px
}

.picon_705 {
    background-position: -400px -1470px
}

.picon_706 {
    background-position: -440px -1470px
}

.picon_707 {
    background-position: -480px -1470px
}

.picon_708 {
    background-position: -520px -1470px
}

.picon_709 {
    background-position: -560px -1470px
}

.picon_710, .picon_710-average {
    background-position: -600px -1470px
}

.picon_710-large {
    background-position: 0 -1500px
}

.picon_710-small {
    background-position: -40px -1500px
}

.picon_710-super {
    background-position: -80px -1500px
}

.picon_711, .picon_711-average {
    background-position: -120px -1500px
}

.picon_711-large {
    background-position: -160px -1500px
}

.picon_711-small {
    background-position: -200px -1500px
}

.picon_711-super {
    background-position: -240px -1500px
}

.picon_712 {
    background-position: -280px -1500px
}

.picon_713 {
    background-position: -320px -1500px
}

.picon_714 {
    background-position: -360px -1500px
}

.picon_715 {
    background-position: -400px -1500px
}

.picon_716 {
    background-position: -440px -1500px
}

.picon_717 {
    background-position: -480px -1500px
}

.picon_718-10 {
    background-position: -520px -1500px
}

.picon_718, .picon_718-50 {
    background-position: -560px -1500px
}

.picon_718-complete {
    background-position: -600px -1500px
}

.picon_719 {
    background-position: 0 -1530px
}

.picon_719-mega {
    background-position: -40px -1530px
}

.picon_720, .picon_720-confined {
    background-position: -80px -1530px
}

.picon_720-unbound {
    background-position: -120px -1530px
}

.picon_721 {
    background-position: -160px -1530px
}

.picon_722 {
    background-position: -200px -1530px
}

.picon_723 {
    background-position: -240px -1530px
}

.picon_724 {
    background-position: -280px -1530px
}

.picon_725 {
    background-position: -320px -1530px
}

.picon_726 {
    background-position: -360px -1530px
}

.picon_727 {
    background-position: -400px -1530px
}

.picon_728 {
    background-position: -440px -1530px
}

.picon_729 {
    background-position: -480px -1530px
}

.picon_730 {
    background-position: -520px -1530px
}

.picon_731 {
    background-position: -560px -1530px
}

.picon_732 {
    background-position: -600px -1530px
}

.picon_733 {
    background-position: 0 -1560px
}

.picon_734 {
    background-position: -40px -1560px
}

.picon_735 {
    background-position: -80px -1560px
}

.picon_736 {
    background-position: -120px -1560px
}

.picon_737 {
    background-position: -160px -1560px
}

.picon_738 {
    background-position: -200px -1560px
}

.picon_739 {
    background-position: -240px -1560px
}

.picon_740 {
    background-position: -280px -1560px
}

.picon_741, .picon_741-baile {
    background-position: -320px -1560px
}

.picon_741-pau {
    background-position: -360px -1560px
}

.picon_741-pom-pom {
    background-position: -400px -1560px
}

.picon_741-sensu {
    background-position: -440px -1560px
}

.picon_742 {
    background-position: -480px -1560px
}

.picon_743 {
    background-position: -520px -1560px
}

.picon_744 {
    background-position: -560px -1560px
}

.picon_745, .picon_745-midday {
    background-position: -600px -1560px
}

.picon_745-midnight {
    background-position: 0 -1590px
}

.picon_746-school {
    background-position: -40px -1590px
}

.picon_746, .picon_746-solo {
    background-position: -80px -1590px
}

.picon_747 {
    background-position: -120px -1590px
}

.picon_748 {
    background-position: -160px -1590px
}

.picon_749 {
    background-position: -200px -1590px
}

.picon_750 {
    background-position: -240px -1590px
}

.picon_751 {
    background-position: -280px -1590px
}

.picon_752 {
    background-position: -320px -1590px
}

.picon_753 {
    background-position: -360px -1590px
}

.picon_754 {
    background-position: -400px -1590px
}

.picon_755 {
    background-position: -440px -1590px
}

.picon_756 {
    background-position: -480px -1590px
}

.picon_757 {
    background-position: -520px -1590px
}

.picon_758 {
    background-position: -560px -1590px
}

.picon_759 {
    background-position: -600px -1590px
}

.picon_760 {
    background-position: 0 -1620px
}

.picon_761 {
    background-position: -40px -1620px
}

.picon_762 {
    background-position: -80px -1620px
}

.picon_763 {
    background-position: -120px -1620px
}

.picon_764 {
    background-position: -160px -1620px
}

.picon_765 {
    background-position: -200px -1620px
}

.picon_766 {
    background-position: -240px -1620px
}

.picon_767 {
    background-position: -280px -1620px
}

.picon_768 {
    background-position: -320px -1620px
}

.picon_769 {
    background-position: -360px -1620px
}

.picon_770 {
    background-position: -400px -1620px
}

.picon_771 {
    background-position: -440px -1620px
}

.picon_772 {
    background-position: -480px -1620px
}

.picon_773 {
    background-position: -520px -1620px
}

.picon_774-core {
    background-position: -560px -1620px
}

.picon_774, .picon_774-meteor {
    background-position: -600px -1620px
}

.picon_775 {
    background-position: 0 -1650px
}

.picon_776 {
    background-position: -40px -1650px
}

.picon_777 {
    background-position: -80px -1650px
}

.picon_778 {
    background-position: -120px -1650px
}

.picon_779 {
    background-position: -160px -1650px
}

.picon_780 {
    background-position: -200px -1650px
}

.picon_781 {
    background-position: -240px -1650px
}

.picon_782 {
    background-position: -280px -1650px
}

.picon_783 {
    background-position: -320px -1650px
}

.picon_784 {
    background-position: -360px -1650px
}

.picon_785 {
    background-position: -400px -1650px
}

.picon_786 {
    background-position: -440px -1650px
}

.picon_787 {
    background-position: -480px -1650px
}

.picon_788 {
    background-position: -520px -1650px
}

.picon_789 {
    background-position: -560px -1650px
}

.picon_790 {
    background-position: -600px -1650px
}

.picon_791 {
    background-position: 0 -1680px
}

.picon_792 {
    background-position: -40px -1680px
}

.picon_793 {
    background-position: -80px -1680px
}

.picon_794 {
    background-position: -120px -1680px
}

.picon_795 {
    background-position: -160px -1680px
}

.picon_796 {
    background-position: -200px -1680px
}

.picon_797 {
    background-position: -240px -1680px
}

.picon_798 {
    background-position: -280px -1680px
}

.picon_799 {
    background-position: -320px -1680px
}

.picon_800 {
    background-position: -360px -1680px
}

.picon_801 {
    background-position: -400px -1680px
}

.picon_802 {
    background-position: -440px -1680px
}
