.select-button {
    width: 100px;
}

.image.is-40x30 {
  height: 30px;
  width: 40px;
}

.tag_type {
    width: 60px;
}

.tag_type_button {
    opacity: 0.3;
}

.tag_selected {
    /*border: 2px solid #dddddd;*/
    /*box-shadow: 0px 2px 2px #888888;*/
    opacity: 1;
}

.tag_selected:hover {
    /*box-shadow: 0px 4px 2px #888888;*/
    opacity: 0.7;
}

#pp_filter_level_0 {
    margin-bottom: 5px;
}
#pp_filter_level_1 {
    margin-top: 5px;
}

.tag_type_Bug {
    background-color: #99cc00;
    color: white;
}
.tag_type_Dark {
    background-color: #333300;
    color: white;
}
.tag_type_Dragon {
    background-color: #003399;
    color: white;
}
.tag_type_Electric {
    background-color: #F0D83C;
    color: white;
}
.tag_type_Fairy {
    background-color: HotPink;
    color: white;
}
.tag_type_Fighting {
    background-color: Sienna;
    color: white;
}
.tag_type_Fire {
    background-color: OrangeRed;
    color: white;
}
.tag_type_Flying {
    background-color: #6699ff;
    color: white;
}
.tag_type_Ghost {
    background-color: Indigo;
    color: white;
}
.tag_type_Grass {
    background-color: #009933;
    color: white;
}
.tag_type_Ground {
    background-color: Peru;
    color: white;
}
.tag_type_Ice {
    background-color: LightSkyBlue;
    color: white;
}
.tag_type_Normal {
    background-color: Silver;
    color: white;
}
.tag_type_Poison {
    background-color: DarkOrchid;
    color: white;
}
.tag_type_Psychic {
    background-color: #cc3399;
    color: white;
}
.tag_type_Rock {
    background-color: Chocolate;
    color: white;
}
.tag_type_Steel {
    background-color: #4c5967;
    color: white;
}
.tag_type_Water {
    background-color: DodgerBlue;
    color: white;
}